body {
    background-color: #222222;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title {
    text-align: center;
    background-color: blueviolet;
}

.header {
    display: flex;
    justify-content: space-between;
}

a:link {
    color: #8fabf9;
    text-decoration: none;
}

a:visited {
    color: darkslateblue;
    text-decoration: none;
}

.wrapper {
    display: flex;
    justify-content: space-around;
    gap: 16px;
}

.contents {
    width: 200px;
    flex-shrink: 0;
    padding: 16px;
}

.main {
    padding: 16px;
}